/*html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}*/

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: "Segoe UI", Arial, sans-serif;*/
  font-weight: 400;
  margin: 10px 0;
}

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  /*font-family: Verdana, sans-serif;*/
  font-size: 15px;
  /*color: rgb(1,1,1);*/
}

html {
  overflow-x: hidden;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}
