/* Create a Parallax Effect */
.plimg-1, .plimg-2, .plimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*overflow: auto;*/
}

.plimg-1 {
  background-image: url(../img/parallax1.jpg);
  min-height: 100%;
}

.plimg-2 {
  background-image: url(../img/parallax2.jpg);
  min-height: 400px;
}

.plimg-3 {
  background-image: url(../img/parallax3.jpg);
  min-height: 400px;
}

/* Turn off parallax scrolling for tablets and phones*/
/*@media only screen and (max-device-width: 1024px){
  .plimg-1, .plimg-2 {
    background-attachment: scroll;
  }
}*/
